
$primary-color: #66a900; //green
$font-primary-color: #aeaeae; //light grey
$font-secondary-color: #333333; //dark grey
$primary-font: 'PT Serif', serif; //serif 
$secondary-font: 'Poppins', sans-serif; //sans-serif
$animation-time: all 0.5s linear;
